body {
    background-image: url("images/background.png");
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    font-family: "Times New Roman";
    font-weight: bold;
    font-size: 24pt;
    text-shadow: 3px 3px #999999
}

.kritike{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #EEEEEE;
    font-size: 13pt;
}

.quotebubble {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    font-size: 13pt;
    font-family: Georgia;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1em;
    border: 2px solid #cccccc;
    border-radius: 12px;
}

p.text {
    padding-left: 5px;
}

p.podaci{
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

span.publication {
    padding-left: 5px;
}


